.root {
    -fx-padding: 40;
    -fx-background-color: #ffffff;
}

.label-title {
    -fx-font-size: 28px;
    -fx-padding: 20;
}

.container {
    -fx-padding: 30;
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
}

.button {
    -fx-font-size: 16px;
    -fx-min-width: 120px;
}

.button {
    -fx-background-color: #0078d4;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #005fa3;
}